.userBox {
  text-align: right;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: right;
  font-size: 13px;
}

.topMenu {
  color: red;
}

body {
  height: 700px;
}

.all {
  height: 60%;
  margin-bottom: 10px;
}

.linkBox {
  height: 70%;
  border-bottom: 1px solid black;
}

.linkBox1 {
  display: flex;
  justify-content: space-between;
  margin: 1.4% 20%;
}

input {
  width: 30%; /* 入力欄を全て同じ幅にする */
  box-sizing: border-box; /* パディングやボーダーを含めて幅を調整 */
  border: 1px solid #ccc; /* ボーダーを追加 */
  padding: 5px; /* パディングを追加 */
  font-size: 16px; /* フォントサイズを調整 */
  background-color: #f9f9f9; /* 背景色を追加 */
}

.message {
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  margin: 20px 0; /* 上下のマージン */
}

button {
  padding: 10px 20px;
  margin: 0 10px; /* ボタン間のスペース */
}
