<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社員情報検索</title>
</head>
<body>
    <div class="header">
        <div class="topMenu"><h3>社員情報検索</h3></div>
        <div class="userBox">
            <div class="userName">〇〇さん</div>
            <div id="dateTimer" class="date"></div>
        </div>
    </div>
    <div class="topBox">
        <div class="topBox1">
            <a href="../main/main.html">メニュー</a>
        </div>
        <div class="topBox2">
            <a href="#">登録</a>
        </div>
    </div>


    <div class="main">
        
        <div class="onetwo">
            <div class="t-left">
                <div class="end">
                    <span>
                        社員ID
                    </span>
                    <input class="te" type="text">
                    <span>
                        年齢
                    </span>
                    <input class="te" type="text" name="" id="">
                    <span>
                        ～
                    </span>
                    <input class="te" type="text" name="" id="">
                </div>
                <div class="end">
                    <span>
                        社員名
                    </span>
                    <input  class="te" type="text">
                    <span>
                        開始日
                    </span>
                    <input class="te" type="text" name="" id="">
                    <span>
                        ～
                    </span>
                    <input class="te" type="text" name="" id="">
                </div>
                <div class="end">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span>
                        終了日
                    </span>
                    <input class="te" type="text" name="" id="">
                    <span>
                        ～
                    </span>
                    <input class="te" type="text" name="" id="">
                </div>
            </div>
            <div class="t-right">
                <div class="u-left">
                    <a href="">検索</a>
                </div>
                <div class="u-right">
                    <a href="">クリア</a>
                </div>
            </div>
        </div>
        
        <div class="count"><span></span>件</div>
        <div class="threefour">
            <div class="d-left">
                <table border="1">
                    <tr class="th1">
                        <th class="topbb"><input type="checkbox" value="0" checked disabled></th>
                        <th>ID</th>
                        <th>氏名</th>
                        <th>年齢</th>
                        <th>開始日</th>
                        <th>終了日</th>
                    </tr>
                    <tr onclick="trClick(0)">
                        <td><input id="chkbox0" type="checkbox"/></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="d-right">
                <div class="d-left">
                    <a href="../delete/delete.html">削除</a>
                </div>
            </div>
            
        </div>
    </div>





    <script src="main.js"></script>


</body>
<footer>
    <div class="other"><h6>group2🄫2024</h6></div>
</footer>
</html>
