.userBox {
    text-align: right;
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: 13px;
}

body{
    height: 700px;
}
.all{
    height: 60%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}


.linkBox1{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

input{
    display: flex;
}
.input1{
    padding: 30px;
}

.message{
    text-align: center;
}
.selectButton{
    margin: 0% 35%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
button{
    padding: 10px 20px;
}
