<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body class="text-center">
	<h1>無効な操作です</h1>
    <!-- "メニューへ"ボタンがクリックされたらサーバー側の処理にリクエストを送信 -->
	<form action="/main1" method="get"> <!-- ここを修正 -->
	    <button type="submit">メニューへ</button>
	</form>
</body>
<footer>
    <div class="other"><h6>group2🄫2024</h6></div>
</footer>
</html>
