.userBox {
    text-align: right;
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}





footer {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: 13px;
}
