body{
    height: 700px;
}
.all{
    height: 60%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}


.linkBox1{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

input{
    display: flex;
}

.message{
    text-align: center;
}
.selectButton{
    margin: 0% 35%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
