.userBox {
    text-align: right;
    margin-bottom: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
footer {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: 13px;
}

body{
    height: 700px;
}
.all{

    margin-bottom: 10px;
}
.linkBox{

    border-bottom: 1px solid black;
}
.linkBox1{
    display: flex;
    justify-content: space-between;
    margin: 1.4% 20%;

}


.linkBox1{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

input{
    display: flex;
}

.message{
    text-align: center;
}

input {
  display: flex;
  width: 30%; /* 入力欄を全て同じ幅にする */
  box-sizing: border-box; /* パディングやボーダーを含めて幅を調整 */
}

/* ボタンのスタイル */
/* 全体を中央に配置 */
.selectButton {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  margin: 20px 0; /* 上下のマージン */
}

/* ボタンの間隔を設定 */
button {
  padding: 10px 20px;
  margin: 0 10px; /* ボタン間のスペース */
}
