.userBox {
    text-align: right;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: 13px;
}

body {
    height: 700px;
}

.all {
    margin-bottom: 10px;
}

.linkBox {
    height: 60%;
}

.linkBox1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 縦位置を揃える */
    margin: 2% 20%;
}

input {
    display: flex;
    width: 30%; /* 入力欄を全て同じ幅にする */
    box-sizing: border-box; /* パディングやボーダーを含めて幅を調整 */
}


/* ボタンのスタイル */
/* 全体を中央に配置 */
.selectButton {
	border-top: 1px solid black;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    gap: 20px; /* ボタン間のスペース */
    padding: 20px 0; /* 上下のマージン */
}

button {
    padding: 10px 20px;
}
