/* 全体のスタイルをリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    color: #4A90E2;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4A90E2;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4A90E2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}

a {
    color: #4A90E2;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}


a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer h6 {
    font-size: 12px;
    color: #aaa;
}
.error-message {
    color: red;
    font-weight: bold;
}
