<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="topMenu"><h3>トップメニュー</h3></div>
        <div class="userBox">
            <div class="userName">〇〇さん</div>
            <div id="dateTimer" class="date"></div>
        </div>
    </div>
    <div class="linkBox">
        <div class="linkBox1">
            <a href="../search/search.html">社員情報検索</a>
        </div>
        <div class="linkBox2">
            <a href="../delete/delete.html">社員情報削除</a>
        </div>
        <div class="linkBox3">
            <a href="">社員情報登録</a>
        </div>
        <div class="linkBox4">
            <a href="../update/update.html">社員情報更新</a>
        </div>
    </div>


    <script src="main.js"></script>


</body>
<footer>
    <div class="other"><h6>group2🄫2024</h6></div>
</footer>
</html>

