<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/search/search1.css">
    <link rel="stylesheet" href="../static/css/search/search1.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社員情報検索</title>
</head>
<body>
    <div class="header">
        <div class="topMenu"><h3>社員情報検索</h3></div>
        <div class="userBox">
            <div class="userName">〇〇さん</div>
            <div id="dateTimer" class="date"></div>
        </div>
    </div>
    <div class="topBox">
        <div class="topBox1">
            <a href="./main1.html">メニュー</a>
        </div>
        <div class="topBox2">
            <a href="./signup1.html">登録</a>
        </div>
    </div>

    <div class="main">
        <form action="/search" method="get">
            <div class="onetwo">
                <div class="t-left">
                    <div class="end">
                        <span>社員ID</span>
                        <input class="te" type="text" name="id"><!-- value="${id}" -->
                        <span>年齢</span>
                        <input class="te" type="text" name="age_start"><!-- value="${ageStart}" -->
                        <span>～</span>
                        <input class="te" type="text" name="age_end"><!-- value="${ageEnd}" -->
                    </div>
                    <div class="end">
                        <span>社員名</span>
                        <input class="te" type="text" name="name"><!-- value="${name}" -->
                        <span>開始日</span>
                        <input class="te" type="text" name="sdate_start"><!-- value="${sdateStart}" -->
                        <span>～</span>
                        <input class="te" type="text" name="sdate_end"><!-- value="${sdateEnd}" -->
                    </div>
                    <div class="end">
                        <span>終了日</span>
                        <input class="te" type="text" name="edate_start"><!-- value="${edateStart}" -->
                        <span>～</span>
                        <input class="te" type="text" name="edate_end"><!-- value="${edateEnd}" -->
                    </div>
                </div>
                <div class="t-right">
                    <div class="u-left">
                        <button type="submit" class="search-button">検索</button>
                    </div>
                    <div class="u-right">
                        <button type="reset" onclick="clearForm()">クリア</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="count">
            <span th:text="${count}">0</span>件
        </div>
        <div class="threefour">
            <div class="d-left">
                <table border="1">
                    <tr class="th1">
                        <th class="topbb"><input type="checkbox" value="0" checked disabled></th>
                        <th>ID</th>
                        <th>氏名</th>
                        <th>年齢</th>
                        <th>開始日</th>
                        <th>終了日</th>
                    </tr>
                    <!-- 検索結果を表示するための行を追加 -->
                    <tr th:each="meibo : ${meiboList}">
                        <td><input type="checkbox" value="${meibo.id}" disabled></td>
                        <td th:text="${meibo.id}"></td>
                        <td th:text="${meibo.name}"></td>
                        <td th:text="${meibo.age}"></td>
                        <td th:text="${meibo.sdate}"></td>
                        <td th:text="${meibo.edate}"></td>
                    </tr>
                </table>
            </div>
            <div class="d-right">
                <a href="./delete1.html">削除</a>
            </div>
        </div>
    </div>

    <script src="../static/js/timer.js"></script>


</body>
<footer>
    <div class="other"><h6>group2🄫2024</h6></div>
</footer>
</html>
