
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup/signup3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社員情報登録（完了）</title>
</head>
<body>
    <div class="all">
        <div class="header">
            <div class="topMenu"><h3>社員情報登録（完了）</h3></div>
            <div class="userBox">
                <div class="userName">〇〇さん</div>
                <div id="dateTimer" class="date"></div>
            </div>
        </div>
        <div class="linkBox">
            <div class="message">社員情報の登録が完了しました。</div>
        </div>
    </div>
    <div class="selectButton">
        <div><a href="/main1"><button class="back">メニュー</button></a></div>
        <div><a href="/search1"><button>検索へ</button></a></div>
    </div>
    <script src="../static/js/timer.js"></script>
</body>
<footer>
    <div class="other"><h6>group2🄫2024</h6></div>
</footer>
</html>
