<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/update/update1.css">
    <link rel="stylesheet" href="../static/css/update/update1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all">
        
        <div class="header">
            <div class="topMenu"><h3>社員情報更新</h3></div>
            <div class="userBox">
                <div class="userName">〇〇さん</div>
                <div id="dateTimer" class="date"></div>
            </div>
        </div>
        <div class="linkBox">
            <div class="linkBox1">
                <div>社員ID</div>
                <input type="text" >
            </div>
            <div class="linkBox1">
                <div>社員名</div>
                <input type="text">
            </div>
            <div class="linkBox1">
                <div>年齢</div>
                <input type="number">
            </div>
            <div class="linkBox1">
                <div>パスワード</div>
                <input type="password">
            </div>
            <div class="linkBox1">
                <div>パスワード確認</div>
                <input type="password">
            </div>
            <div class="linkBox1">
                <div>開始日</div>
                <input type="text" >
            </div>
            <div class="linkBox1">
                <div>終了日</div>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="selectButton">
        <div><a href="./update2.html"><button>確認</button></a></div>
        <div><a href="./delete1.html"><button>削除</button></a></div>
        <div><a href="./main1.html"><button>戻る</button></a></div>
    </div>
    <script src="../static/js/timer.js"></script>



</body>
<footer>
    <div class="other"><h6>group2🄫2024</h6></div>
</footer>
</html>

