<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/update/update2.css">
    <link rel="stylesheet" href="../static/css/update/update2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>確認画面</title>
</head>
<body>
    <div class="all">
        <div class="header">
            <div class="topMenu"><h3>社員情報更新</h3></div>
            <div class="userBox">
                <div class="userName">〇〇さん</div>
                <div id="dateTimer" class="date"></div>
            </div>
        </div>
        <div class="linkBox">
            <div class="linkBox1">
                <div>社員ID</div>
                <input type="text" value="${meibo.id}" readonly>
            </div>
            <div class="linkBox1">
                <div>社員名</div>
                <input type="text" value="${meibo.name}" readonly>
            </div>
            <div class="linkBox1">
                <div>年齢</div>
                <input type="text" value="${meibo.age}" readonly>
            </div>
            <div class="linkBox1">
                <div>パスワード</div>
                <input type="text" value="${meibo.password}" readonly>
            </div>
            <div class="linkBox1">
                <div>パスワード確認</div>
                <input type="text" value="${meibo.confirmPassword}" readonly>
            </div>
            <div class="linkBox1">
                <div>開始日</div>
                <input type="text" value="${meibo.sdate}" readonly>
            </div>
            <div class="linkBox1">
                <div>終了日</div>
                <input type="text" value="${meibo.edate}" readonly>
            </div>
        </div>
        <div class="message">こちらを更新します。よろしいですか？</div>
    </div>
    <div class="selectButton">
        <form action="/updateConfirm" method="post">
            <button type="submit">更新</button>
        </form>
        <a href="/update1"><button>戻る</button></a>
    </div>
	<script src="/js/timer.js"></script>
</body>
<footer>
    <div class="other"><h6>group2🄫2024</h6></div>
</footer>
</html>
